@charset "utf-8";
.productTitle {
  text-align: center;
  padding-top: 2.375rem;
}
.productTitle p {
  font-size: 2rem;
  color: #2b3346;
  line-height: 36px;
}
.productTitle .tips {
  font-size: .8125rem;
  color: #5a6071;
  margin-top: 1.875rem;
  line-height: 1.75rem;
}
.icon1 {
  width: 40px;
  height: 4px;
  background-image: linear-gradient(90deg, #f84b05 0%, #f9ab1a 100%), linear-gradient(#f84311, #f84311);
  background-blend-mode: normal,
        normal;
  margin: 25px auto 27px;
}
.indexBlock4 {
  background: #fff;
}
.productBlock {
  background-color: #f8f9fb;
  padding-bottom: 95px;
}
.productBlock .w1200 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 104px;
}
.productBlock .w1200 .box {
  width: 380px;
  height: 280px;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(210, 210, 210, 0.3);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.productBlock .w1200 .box img {
  width: 53px;
  height: 53px;
  margin-bottom: 31px;
  margin-top: 44px;
}
.productBlock .w1200 .box .boxText1 {
  font-size: 28px;
  color: #333333;
  font-weight: 800;
  margin-bottom: 19px;
  line-height: 28px;
}
.productBlock .w1200 .box .boxText2 {
  font-size: 15px;
  color: #666666;
  margin-bottom: 40px;
  line-height: 15px;
}
.productBlock .w1200 .box .boxText3 {
  font-size: 15px;
  color: #01304a;
  line-height: 15px;
  display: block;
  opacity: 0.7;
}
.search {
  width: 90%;
  height: 58px;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(210, 210, 210, 0.2);
  border-radius: 29px;
  margin: 60px auto;
  display: flex;
}
.search input {
  font-size: 15px;
  border: unset;
  margin-left: 30px;
  flex: 1;
}
.search .searchSub {
  width: 111px;
  height: 42px;
  background-color: #f84311;
  box-shadow: 0px 10px 30px 0px rgba(248, 67, 17, 0.2);
  border-radius: 21px;
  color: #fff;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  display: block;
}
#certificateBox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}
.userCertificateWindow {
  display: none;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px rgba(166, 174, 190, 0.2);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  z-index: 11;
  padding: 51px 40px;
}
.userCertificateWindow .img {
  text-align: center;
}
.userCertificateWindow .title {
  font-size: 26px;
  color: #000;
  text-align: center;
  margin-top: 44px;
  line-height: 26px;
}
.userCertificateWindow .tips {
  font-size: 16px;
  color: #666;
  text-align: center;
  line-height: 32px;
  margin-top: 21px;
}
.userCertificateWindow .btn {
  background-image: -moz-linear-gradient(0deg, #f84805 0%, #fab51e 100%);
  background-image: -webkit-linear-gradient(0deg, #f84805 0%, #fab51e 100%);
  background-image: -ms-linear-gradient(0deg, #f84805 0%, #fab51e 100%);
  box-shadow: 0px 10px 30px 0px rgba(248, 67, 17, 0.2);
  width: 340px;
  height: 46px;
  display: block;
  border-radius: 23px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 46px;
  margin-top: 69px;
}
.userBookWindow {
  display: none;
  position: absolute;
  z-index: 999;
  height: 100%;
  top: 10%;
  width:90%;
  left: 50%;
  transform: translateX(-50%);
}
.bookWindow{
  width: 100%;  
  height: 67vh;
  background: url(../images/user/userImg.png) no-repeat center / cover;
  background-size:  100% auto;
  position: relative;
}
.bookWindow .info{
  position: absolute;
  top: 46%;
  width: 100%;
}
.userBookWindow .name {
  /* margin-top: 278px; */
  position: relative;
  height: 63px;
  
}
.userBookWindow .name span {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  font-size: 22px;
  color: #333;
  text-align: center;
  width: 100%;
  padding: 0 60px;
}
.userBookWindow .url {
  /* position: relative; */
  font-size: 16px;
  color: #666;
  text-align: center;
}
.userBookWindow .list {
  width: 72%;
  margin: 0 auto;
  margin-top: 1.75rem;
}
.userBookWindow .list p {
  overflow: hidden;
  font-size: .75rem;
  color: #333;
  line-height: 34px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.userBookWindow .list p span {
  display: block;
  width: 3.75rem;
  float: left;
  font-size: .75rem;
  color: #808080;
  line-height: 34px;
}
.userBookWindow .number {
  text-align: center;
  width: 100%;
  font-size: .8125rem;
  color: #808080;
  position: absolute;
  top: 90%;
}
.close img{
  position: absolute;
  right: 0;
  top: -36px;
}


