@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('../fonts/iconfont.ttf?t=1629338778212') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search1:before {
  content: "\e601";
}

.icon-search2:before {
  content: "\e602";
}

.icon-search3:before {
  content: "\e603";
}

.icon-search4:before {
  content: "\e604";
}

.icon-search5:before {
  content: "\e608";
}

.icon-shoppingcart1:before {
  content: "\e609";
}

.icon-shoppingcart2:before {
  content: "\e60a";
}

.icon-shoppingcart3:before {
  content: "\e60b";
}

.icon-shoppingcart4:before {
  content: "\e60d";
}

.icon-shoppingcart5:before {
  content: "\e60e";
}

.icon-member1:before {
  content: "\e60f";
}

.icon-member2:before {
  content: "\e610";
}

.icon-member3:before {
  content: "\e611";
}

.icon-member4:before {
  content: "\e612";
}

.icon-member5:before {
  content: "\e613";
}

.icon-home1:before {
  content: "\e615";
}

.icon-facebook1:before {
  content: "\e801";
}

.icon-youtube1:before {
  content: "\e87c";
}

.icon-linkedin1:before {
  content: "\e666";
}

.icon-google1:before {
  content: "\e87a";
}

.icon-pinterest1:before {
  content: "\e614";
}

.icon-instagram1:before {
  content: "\e736";
}

.icon-vk1:before {
  content: "\e932";
}

.icon-twitter1:before {
  content: "\e9b2";
}

.icon-linkedin2:before {
  content: "\e698";
}

.icon-vk2:before {
  content: "\e923";
}

.icon-google2:before {
  content: "\e886";
}

.icon-pinterest2:before {
  content: "\f211";
}

.icon-twitter2:before {
  content: "\e64c";
}

.icon-facebook2:before {
  content: "\e64e";
}

.icon-instagram2:before {
  content: "\e684";
}

.icon-youtube2:before {
  content: "\e616";
}

.icon-facebook3:before {
  content: "\e61a";
}

.icon-twitter3:before {
  content: "\e61b";
}

.icon-youtube3:before {
  content: "\e61c";
}

.icon-pinterest3:before {
  content: "\e61d";
}

.icon-instagram3:before {
  content: "\e61e";
}

.icon-linkedin3:before {
  content: "\e61f";
}

.icon-google3:before {
  content: "\e620";
}

.icon-vk3:before {
  content: "\e621";
}

.icon-tiktok1:before {
  content: "\e8db";
}

.icon-tiktok2:before {
  content: "\e622";
}

.icon-tiktok3:before {
  content: "\e623";
}

.icon-arrow1:before {
  content: "\e6bd";
}

.icon-mb_menu1:before {
  content: "\e624";
}

.icon-mb_menu2:before {
  content: "\e625";
}

.icon-mb_add1:before {
  content: "\e600";
}

.icon-mb_add2:before {
  content: "\e617";
}

.icon-mb_add3:before {
  content: "\e64d";
}

.icon-mb_cut3:before {
  content: "\e626";
}

.icon-mb_cut2:before {
  content: "\e627";
}

.icon-mb_cut1:before {
  content: "\e628";
}

.icon-arrow2:before {
  content: "\e62b";
}

.icon-favorite1:before {
  content: "\e629";
}

.icon-favorite3:before {
  content: "\e62a";
}

.icon-favorite4:before {
  content: "\e62c";
}

.icon-favorite2:before {
  content: "\e62d";
}

.icon-mb_add4:before {
  content: "\e62e";
}

.icon-mb_cut4:before {
  content: "\e62f";
}

.icon-newsletter1:before {
  content: "\e630";
}

.icon-close1:before {
  content: "\e631";
}

.icon-view1:before {
  content: "\e618";
}

.icon-star1:before {
  content: "\e632";
}

.icon-view2:before {
  content: "\e6a7";
}

.icon-gift1:before {
  content: "\e633";
}

.icon-arrow3:before {
  content: "\e761";
}

.icon-newsletter2:before {
  content: "\e681";
}

.icon-arrow4:before {
  content: "\e634";
}

.icon-newsletter3:before {
  content: "\e678";
}

.icon-newsletter4:before {
  content: "\e652";
}

.icon-tool_email1:before {
  content: "\e635";
}

.icon-tool_wechat1:before {
  content: "\e707";
}

.icon-tool_whatsapp1:before {
  content: "\e97b";
}

.icon-tool_skype1:before {
  content: "\ec02";
}

.icon-tool_qq1:before {
  content: "\e667";
}

.icon-tool_trademanager1:before {
  content: "\e79f";
}

.icon-tool_arrow1:before {
  content: "\e636";
}

.icon-tool_facebookmessenger1:before {
  content: "\e725";
}

.icon-newsletter5:before {
  content: "\e619";
}

.icon-question1:before {
  content: "\e637";
}

.icon-Tips1:before {
  content: "\e710";
}

.icon-camera1:before {
  content: "\e66f";
}

.icon-delete1:before {
  content: "\e638";
}

.icon-order_review1:before {
  content: "\e60c";
}

.icon-order_shipped1:before {
  content: "\e639";
}

.icon-coupon1:before {
  content: "\e63a";
}

.icon-order_payment1:before {
  content: "\e63b";
}

.icon-arrow5:before {
  content: "\e63c";
}

.icon-dollar1:before {
  content: "\e63d";
}

.icon-delete2:before {
  content: "\e63e";
}

.icon-password1:before {
  content: "\e63f";
}

.icon-send1:before {
  content: "\e640";
}

.icon-arrow6:before {
  content: "\e641";
}

.icon-map1:before {
  content: "\e642";
}

.icon-arrow7:before {
  content: "\e643";
}

.icon-chat1:before {
  content: "\e644";
}

.icon-arrow8:before {
  content: "\e645";
}

.icon-order_shipped2:before {
  content: "\e648";
}

.icon-order_shipped3:before {
  content: "\e649";
}

.icon-picture1:before {
  content: "\e64a";
}

.icon-order_tips2:before {
  content: "\e64b";
}

.icon-order_dollar2:before {
  content: "\e64f";
}

.icon-order_payment2:before {
  content: "\e650";
}

.icon-order_cancel:before {
  content: "\e646";
}

.icon-favorite6:before {
  content: "\e6af";
}

.icon-favorite5:before {
  content: "\e6b0";
}

.icon-shoppingcart6:before {
  content: "\e6c0";
}

.icon-yunshu:before {
  content: "\e6c1";
}

.icon-shanchu:before {
  content: "\e6c2";
}

.icon-facebook4:before {
  content: "\e6d8";
}

.icon-VK4:before {
  content: "\e6d9";
}

.icon-Google4:before {
  content: "\e6da";
}

.icon-paypal1:before {
  content: "\e6db";
}

.icon-tick1:before {
  content: "\e647";
}

