<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/{$erdai_template}/css//BindingPhone.css">
    <link rel="stylesheet" href="/view/{$erdai_template}/css//public.css">
    <link rel="stylesheet" href="/view/{$erdai_template}/css//grant.css">

    <!-- 套餐方案样式 -->

    <script src="/view/{$erdai_template}/js//jquery-1.11.3.min.js"></script>
    <title><?php if($data['seo_title']!='') echo $data['seo_title'];else echo $data['title']  ?></title>
    <meta name="keywords" content="{$data.keyword}" />
    <meta name="description" content="{$data.description}" />
</head>

<body>
{include file="view/$erdai_template/public/header.html" /}
    <div class="grantBanner">
        <div class="title">多种方案，应您所需</div>
        <div class="tips">您可以根据需要选择版本和技术支持</div>
    </div>
    <div class="grantBlock">
        <div class="w1200">
            <div class="list charge">
                <div class="img">
                    <div class="imgTit">个人版</div>
                    <div class="imgTips">适合个人/工作室使用</div>
                    <div class="money"><i>￥</i><span>498</span>/终身</div>
                </div>
                <div class="item">
                    <ul>
                        <li class="none">系统日常维护</li>
                        <li class="none">前端去版权</li>
                        <li  class="none">后端去LOGO</li>
                        <li  class="none">系统升级</li>
                        <li class="none">电话技术支持</li>
                        <li class="none">二次开发</li>
                        <li class="none">二次开发指导</li>
                        <li class="none">后端模板编译前源码</li>
                        <li class="none">远程视频培训</li>
                        <li class="none">上门服务</li>
                        <li class="none">官方微信群</li>
                        <li>官网QQ群</li>
                        <li>系统商用</li>
                        <li>模板数量（2套）</li>
                        <li>使用手册</li>
                    </ul>
                </div>
                <a href="javascript:" class="btn">购买请联系客服</a>
            </div>
            <div class="list charge">
                <div class="img">
                    <div class="imgTit">企业版本</div>
                    <!-- 原来价格 -->
                    <!--
                    <div class="grantBlock_original_price">
                        <img src="../images/grant/bq.png" alt="">
                        <p>限时优惠&nbsp;<span style="text-decoration:line-through;">原价: ￥498</span></p>
                    </div>
                    -->
                    <!-- <div class="imgTips">授权认证即可使用</div> -->
                    <div class="money">
                        <i>￥</i>
                        <span>1298</span>/终身
                        <!-- <div class="" style="display: inline-block;">
                            <p style="font-size: 14px;text-decoration:line-through;">￥498</p>
                            <p>/终身</p>
                        </div> -->
                    </div>

                </div>
                <div class="item">
                    <ul>

                        <li class="none">系统日常维护</li>
                        <li class="none">二次开发指导</li>
                        <li class="none">上门服务</li>
                        <li>前端去版权</li>
                        <li >后端去LOGO</li>
                        <li >系统升级</li>
                        <li>电话技术支持</li>
                        <li>二次开发</li>
                        <li>后端模板编译前源码</li>
                        <li>远程视频培训</li>
                        <li>官方微信群</li>
                        <li>官网QQ群</li>
                        <li>系统商用</li>
                        <li>模板数量（2套）</li>
                        <li>使用手册</li>
                    </ul>
                </div>
                <a href="javascript:" class="btn">购买请联系客服</a>
            </div>
            <div class="list charge">
                <div class="img">
                    <div class="imgTit">企业高级版</div>
                    <div class="imgTips">授权认证即可使用</div>
                    <div class="money"><i>￥</i><span>2298</span>/年</div>
                </div>
                <div class="item">
                    <ul>
                        <li>系统日常维护</li>
                        <li>二次开发指导</li>
                        <li>上门服务</li>
                        <li>前端去版权</li>
                        <li >后端去LOGO</li>
                        <li >系统升级</li>
                        <li>电话技术支持</li>
                        <li>二次开发</li>
                        <li>后端模板编译前源码</li>
                        <li>远程视频培训</li>
                        <li>官方微信群</li>
                        <li>官网QQ群</li>
                        <li>系统商用</li>
                        <li>模板数量（2套）</li>
                        <li>使用手册</li>
                    </ul>
                </div>
                <a href="javascript:" class="btn">购买请联系客服</a>
            </div>
        </div>
    </div>
    <div class="grantBlock2">
        <div class="grantBlockTitle">
            常见问题
        </div>
        <div class="w1200">
            <div class="list">
                <div class="time">
                    <p>05-16</p>
                    <span>2021</span>
                </div>
                <div class="content">
                    <a href="javascript:">
                        <p>可以补差价升级吗？</p>
                        <span>可以的，例如你购买了企业版本，任何时间都可以补齐差价1000元，升级为企业高级版！</span>
                    </a>
                </div>
            </div>
            <div class="list">
                <div class="time">
                    <p>05-16</p>
                    <span>2021</span>
                </div>
                <div class="content">
                    <a href="javascript:">
                        <p>什么是商业授权？</p>
                        <span>没有购买我公司商业授权的客户，禁止任何形式的商业使用，如有违约，我司将在合适的时间进行法律追偿索赔！</span>
                    </a>
                </div>
            </div>
            <div class="list">
                <div class="time">
                    <p>05-16</p>
                    <span>2021</span>
                </div>
                <div class="content">
                    <a href="javascript:">
                        <p>商业授权版购买是否提供发票？</p>
                        <span>用户购买商业授权版均可申请开具发票，提供授权认证域名及支付记录，通过在线客服申请开票，需要快递用户自付快递费用；</span>
                    </a>
                </div>
            </div>
            <div class="list">
                <div class="time">
                    <p>05-16</p>
                    <span>2021</span>
                </div>
                <div class="content">
                    <a href="javascript:">
                        <p>后端模板编译前源码是什么</p>
                        <span>外贸人CMS后台采用VUE+element框架开发，默认仅提供编译压缩后的代码，不可修改，您需要购买企业版本及以上版本才能获取到编译器的源码！</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


{include file="view/$erdai_template/public/footer.html" /}
    <!-- 登录注册 -->
    <div class="blackBackground"></div>
    <div class="loginWindow">
        <div class="close"><img src="../images/close.png" alt="close"></div>
        <div class="content">
            <div class="title">微信扫码登录/注册<span></span></div>
            <div class="wechat">
                <img src="../images/publicWechat.png" alt="">
            </div>
            <div class="tips">
                扫码关注"外贸人CMS"公众号进行登录
            </div>
        </div>
        <div class="bottom">
            登录即同意<a href="javascript:">用户协议</a>和<a href="javascript:;">隐私政策</a>
        </div>
    </div>
    <!-- 绑定手机弹窗 -->
    <div class="BindingPhone_outer">
        <div class="BindingPhone">
            <div class="close"><img src="../images/close.png" alt="close"></div>
            <div class="BindingPhone_title">
                <h3>绑定手机号</h3>
            </div>
            <div class="BindingPhone_form">
                <h4>为保障账号的正常使用，请尽快完成手机号验证，感谢您的理解和支持!</h4>
                <div class="BindingPhone_form_in">
                    <div class="BindingPhone_form_input">
                        <input type="text" name="" id="">
                    </div>

                    <div class="BindingPhone_form_input BindingPhone_form_code">
                        <input type="text" name="" id="">
                        <button>获取验证码</button>
                    </div>
                </div>
                <div class="BindingPhone_Submit">
                    <button>确定</button>
                </div>
            </div>
            <div class="BindingPhone_agreement">
                <input type="checkbox" checked="checked" />
                <span>登录即同意&nbsp;<a href="">用户协议</a>&nbsp;和&nbsp;<a href="">隐私协议</a></span>
            </div>
        </div>
    </div>
    <script>
         $('.hambur').click(function () {
            $('.hambur').toggleClass('open');
            $('.hammenu').toggleClass('open')
        });
        $('.header').addClass('position');
        $('.header .w1200 .right .nav li').hover(function () {
            $(this).children('.list').stop().fadeIn()
        }, function () {
            $(this).children('.list').stop().fadeOut()
        });
        $('.header .w1200 .right .menu .login').click(function () {
            $('.blackBackground').fadeIn();
            $('.loginWindow').fadeIn()
        });
        $('.close').click(function () {
            $('.blackBackground').fadeOut();
            $('.loginWindow').fadeOut();
            $('.BindingPhone_outer').fadeOut()
        })
    </script>
</body>

</html>
