<!DOCTYPE html>
<html lang="{$contraller|strtolower}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
    <title>Fuzzy boundaries: PLC and PAC closer and closer_响应式外贸打印设备网站织梦模板(自适应手机端)</title>
    <meta name="keywords" content="Fuzzy,boundaries,PLC,and,PAC,c" />
    <meta name="description" content="Fuzzy boundaries: PLC and PAC closer and closerFuzzy boundaries: PLC and PAC closer and closerFuzzy boundaries: PLC and PAC closer and closer" />
    <link rel="stylesheet" type="text/css" href="/skin/css/pintuer.css" />
    <link rel="stylesheet" type="text/css" href="/skin/css/style.css" />
    <script type="text/javascript" src="/skin/js/jquery.min_5.js"></script>
    <script type="text/javascript" src="/skin/js/pintuer_5.js"></script>
    <script type="text/javascript" src="/skin/js/jquery.caroufredsel.packed.js"></script>
    <script src="/skin/js/main.js"></script>
    <script type="text/javascript">showNum(9,'news','add','.countnum');</script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/skin/js/respond.js"></script>
    <![endif]-->

</head>
<body>

<!-- header begin-->
<header id="fh5co-header">
    <div class="layout">
        <div class="container">
            <div class="xm4 xs4 xl12 logo"> <a href="/" title="响应式外贸打印设备网站织梦模板(自适应手机端)"><img  src="/skin/images/logo.png" /></a> </div>
            <div class="xm8  xs8 xl12 search-top nav-navicon" id="form-search">
                <div class="float-right">
                    <form name="serch-form" action="/plus/search.php" method="post">
                        <input name="q" type="text" class="inputkey" id="search-keyword" style="color:#ccc" value="Enter Keyword
" onfocus="if(this.value=='Enter Keyword
'){this.value=';';}" onblur="if(this.value==''){this.value='Enter Keyword;
';}" />
                        <input type="submit" name="search" class="go" value="O K" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="layout hidden-s hidden-m hidden-b nav_bg">
        <div class="container"> <span class="text-white">Toggle Navigation</span>
            <button class="button  icon-navicon" data-target="#nav-main1"> </button>
            <button class="button icon-search" data-target="#form-search"> </button>
        </div>
    </div>
    <div class="layout fixed header-nav bg-main bg-inverse">
        <div class="container">
            <ul class="nav nav-menu nav-inline  nav-navicon" id="nav-main1">
                <li class="current"><a class="first-level" href='/'>Home</a></li>
                <li class="current"><a class="first-level" href='/a/about/'>About Us<span class="downward"></span></a>
                    <ul class="drop-menu">

                        <li><a href="/a/about/ab/">About Us</a></li>

                        <li><a href="/a/about/development/">Development</a></li>

                        <li><a href="/a/about/technical/">Technical Advantages</a></li>

                        <li><a href="/a/about/brand/"> Brand Concept</a></li>

                    </ul><li class="current"><a class="first-level" href='/a/products/'>Products<span class="downward"></span></a>
                <ul class="drop-menu">

                    <li><a href="/a/products/programmable/">Programmable Controllers</a></li>

                    <li><a href="/a/products/soldering/">Soldering Machine</a></li>

                    <li><a href="/a/products/eagerly/">Eagerly Cutting Machine</a></li>

                    <li><a href="/a/products/cashier/">Cashier</a></li>

                </ul><li class="current"><a class="first-level" href='/a/News/'>News<span class="downward"></span></a>
                <ul class="drop-menu">

                    <li><a href="/a/News/companynews/">Company News</a></li>

                    <li><a href="/a/News/industrynews/">Industry News</a></li>

                </ul><li class="current"><a class="first-level" href='/a/Case/'>Case<span class="downward"></span></a>
                <ul class="drop-menu">

                    <li><a href="/a/Case/Case/">Case</a></li>

                </ul><li class="current"><a class="first-level" href='/a/feedback/'>Feedback<span class="downward"></span></a>
                <ul class="drop-menu">

                    <li><a href="/a/feedback/leaveamessage/">Leave a Message</a></li>

                </ul><li class="current"><a class="first-level" href='/a/contact/'>Contact Us<span class="downward"></span></a>
                <ul class="drop-menu">

                    <li><a href="/a/contact/contactus/">Contact Us</a></li>

                </ul>
            </ul>
        </div>
    </div>
</header>

<!-- header end-->

<div class="layout">
    <div id="carousel-banner" class="slideshow"><img src='/skin/images/list_bj.jpg'  alt=''></div>
    <script type="text/javascript">
        $(window).bind("load resize",function(){
            $('#carousel-banner').carouFredSel({
                width       : '100%',
                auto: false,
                items: 1,
                scroll: {
                    fx: 'fade',
                    duration: 2000
                }
            });
        });
    </script>
</div>
<!-- content begin-->
<div class="layout">
    <div class="container margin-big-top content_detail" id="fh5co-content_show"> <div class="xs4 xm3 lefter">
        <button class="button icon-navicon bg margin-bottom" data-target="#subnav"></button>
        <ul class="nav submenu nav-navicon  margin-large-bottom" id="subnav">
            <h2 class="left_h margin-bottom">News</h2>

            <li ><a href='/a/News/companynews/'>Company News</a></li>
            <li class='active'><a href='/a/News/industrynews/' class='thisclass'>Industry News</a> </li>
        </ul>
        <div class="hidden-l">
            <h2 class="left_h margin-bottom">Products Category</h2>
            <ul class="nav submenu nav-navicon  margin-big-bottom">

                <li><a href='/a/products/programmable/' title="Programmable Controllers">Programmable Controllers</a></li>

                <li><a href='/a/products/soldering/' title="Soldering Machine">Soldering Machine</a></li>

                <li><a href='/a/products/eagerly/' title="Eagerly Cutting Machine">Eagerly Cutting Machine</a></li>

                <li><a href='/a/products/cashier/' title="Cashier">Cashier</a></li>

            </ul>
            <h2 class="left_h margin-big-bottom">Contact Us</h2>
            <div class="contact-content margin-big-bottom">
                <p> Tel：+86-4000-888-999</p>
                <p> Fax：+86-0632-66889888</p>
                <p> Website：<a href="http://127.0.0.2/" target="_blank">http://127.0.0.2/</a> </p>
                <p> Email：admin@baidu.com </p>
                <p> Address:Room 513, Block B,Lijing Building,Lanniao District, Guangzhou City,Guangdong Province, China </p>
            </div>
        </div>
    </div>

        <div class="xs8 xm9">
            <div class="title">
                <h2 class="text-main padding-bottom title">Industry News</h2>
            </div>
            <div class="show_content padding-large-bottom">
                <div class="show_body detail">
                    <h1>Fuzzy boundaries: PLC and PAC closer and closer</h1>
                    <div class="padding-sall-top padding-big-bottom text-center qhd-title"><span><strong>Source:</strong>未知</span><span><strong>Author:</strong>admin</span> <span><strong>Addtime:</strong>2017-06-08 09:52</span> <span><strong>Click:</strong><font class="countnum"><script src="/plus/count.php?view=yes&aid=13&mid=1"type='text/javascript' language="javascript"></script></font></span></div>
                    <span id="result_box" class="short_text" lang="en"><span class=""><span style="color: rgb(102, 102, 102); font-family: Arial, 'Microsoft YaHei'; font-size: 14px; line-height: 24px;">Fuzzy boundaries: PLC and PAC closer and closerFuzzy boundaries: PLC and PAC closer and closerFuzzy boundaries: PLC and PAC closer and closer</span></span></span> </div>
                <ul class="pager padding-big-top padding-big-bottom">
                    <li>Previous：<a href='/a/News/industrynews/12.html'>Technology was professional, low - profile show connotation</a> </li>
                    <li>Next： No Information </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- content end-->
<!--footer-->
<footer>
    <div class="layout  footer-bot">
        <div class="container text-center">
            <div class="foot-link hidden-l">
                <ul class="nav nav-inline nav-split">
                    <li><a href='/'>Home</a></li>

                    <li><a href='/a/about/'>About Us</a></li>

                    <li><a href='/a/products/'>Products</a></li>

                    <li><a href='/a/News/'>News</a></li>

                    <li><a href='/a/Case/'>Case</a></li>

                    <li><a href='/a/feedback/'>Feedback</a></li>

                    <li><a href='/a/contact/'>Contact Us</a></li>

                </ul>
            </div>
            <div class="foot-flink">Links：

                <!--link start-->&nbsp;&nbsp;<!--link end--></div>
            <div class="Copyright">Copyright (c) .</div>
        </div>
    </div>
</footer>


<!--footer-->
</body>
</html>
