<!DOCTYPE html>
<html lang="{$contraller|strtolower}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="PAGE-ENTER" content="RevealTrans(Duration=0,Transition=1)" />
    <title>{:mylang('search.search',$contraller)}-<?php echo $key; ?>-{$config.title}</title>

    <link rel="stylesheet" type="text/css" href="/view/{$erdai_template}/css/pintuer.css" />
    <link rel="stylesheet" type="text/css" href="/view/{$erdai_template}/css/style.css" />
    <script type="text/javascript" src="/view/{$erdai_template}/js/jquery.min.js"></script>
    <script type="text/javascript" src="/view/{$erdai_template}/js/jquery.caroufredsel.packed.js"></script>
    <script type="text/javascript" src="/view/{$erdai_template}/js/pintuer.js"></script>

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="/view/{$erdai_template}/js/respond.js"></script>
    <![endif]-->

</head>
<body>

<!-- header begin-->
{include file="view/$erdai_template/public/header.html" /}

<!-- header end-->

<!-- content begin-->
<div class="layout">
    <div class="container margin-big-top" id="fh5co-content_show"> <div class="xs4 xm3 lefter">
        <button class="button icon-navicon bg margin-bottom" data-target="#subnav"></button>


        <div class="hidden-l">
            <h2 class="left_h margin-bottom">{:mylang('search.search',$contraller)}</h2>
            <ul class="nav submenu nav-navicon  margin-big-bottom">


                <li><a href='/{$contraller}/search/key/生.html'>{:mylang('search.product',$contraller)}（{$count_product}）</a></li>
                <li><a href='/{$contraller}/search/channel/news/key/{$key}.html'>{:mylang('search.news',$contraller)}（{$count_news}）</a></li>
                <li><a href='/{$contraller}/search/channel/case/key/{$key}.html'>{:mylang('search.cases',$contraller)}（{$count_case}）</a></li>


            </ul>

        </div>

    </div>

        <div class="xs8 xm9">
            <div class="title">
                <h2 class="text-main padding-bottom title"><a href=''><?php echo $key; ?></a></h2>
            </div>
            <div class="show_content padding-large-bottom">
                <div class="show_list product_list_box">
                    <div class="layout">
                        <div class="line-big">


                            <?php
                            foreach($list as $l)
                            {
                            ?>
                            <div class="xm3 xb3 xs4 xl6 margin-large-bottom">
                            <div class="pro-item">
                                <div class="portfolio-img"><a href="<?php echo content_url($l['id'],$l['lang']);?>" title="{$l.title}" class="zoomimgs" style="background-image:url(<?php echo getimage($l['image'],1);  ?>)"></a></div>
                                <h2 class="text-center"><a href="<?php echo content_url($l['id'],$l['lang']);?>" title="{$l.title}">{$l.title}</a></h2>
                            </div>
                        </div>
                            <?php
                            }
                            ?>




                         </div>
                    </div>
                </div>
                <div class="text-center padding-big-top padding-big-bottom">
                 <?php echo $page;?>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content end-->
<!--footer-->
{include file="view/$erdai_template/public/footer.html" /}

<!--footer-->
</body>
</html>
