<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/authorization.css">
    <link rel="stylesheet" href="css/BindingPhone.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <title>在线授权查询</title>
</head>

<body>
    <div class="header">
        <div class="w1200">
            <div class="logo left">
                <a href="index.html">
                    <img src="images/logo.png" alt="LOGO" />
                </a>
            </div>
            <div class="right">
                <div class="loggedIn">
                    <div class="content clear">
                        <div class="img"><img src="images/user_img.jpg" alt=""></div>
                        <div class="name">落叶</div>
                        <span><img src="images/down.png"></span>
                        <div class="list">
                            <div class="ico"><img src="images/headerSelectIco.png" alt=""></div>
                            <!-- <a href="javascript:;">我的信息</a> -->
                            <a href="javascript:">授权证书</a>
                            <!-- <a href="javascript:;">登录记录</a> -->
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <!-- <a href="javascript:;" class="login">登录</a> -->
                    <img class="login" src="./images/touxiang.png" alt="">
                    <li class="hamnav">
                        <span class="hambur"></span>
                    </li>
                </div>
            </div>
        </div>
        <div class="hammenu">
            <li class="active"><a href="javascript:">首页<span></span></a></li>
            <li><a href="download.html">下载<span></span></a></li>
            <li><a href="onepage/grant.html">购买<span></span></a></li>
            <li><a href="authorization.html">授权查询<span></span></a></li>
            <li><a href="javascript:">手册<span></span></a></li>
        </div>
    </div>
    <div class="productBlock">
        <div class="productTitle">
            <p>在线授权查询</p>
            <div class="tips">快速查询您的授权情况，<br> 如有疑问，可以进官方QQ群咨询 <br> QQ群号：714064832</div>
        </div>
        <div class="search">
            <input placeholder='如域名查询：zhco.com' type="text">
            <a class="searchSub">查询</a>
        </div>
        <!-- <div class="w1200">
            <div class="box">
                <img src="./images/authorization/indexBlockImg.png" alt="">
                <div class="boxText1">授权申请</div>
                <div class="boxText2">立即授权，创建属于您自己的网站</div>
                <a class="boxText3" href="javascript:;">立即授权 ></a>
            </div>
            <div class="box">
                <img src="./images/authorization/indexBlockImg.png" alt="">
                <div class="boxText1">授权申请</div>
                <div class="boxText2">立即授权，创建属于您自己的网站</div>
                <a class="boxText3" href="javascript:;">立即授权 ></a>
            </div>
            <div class="box">
                <img src="./images/authorization/indexBlockImg.png" alt="">
                <div class="boxText1">授权申请</div>
                <div class="boxText2">立即授权，创建属于您自己的网站</div>
                <a class="boxText3" href="javascript:;">立即授权 ></a>
            </div>
        </div> -->
    </div>

    <div class="footer">
        <div class="w1200">
            <div class="footer_in">
                <div class="footer_in_wechat">
                    <div class="footer_in_wechat_box">
                        <div class="footer_in_wechat_img">
                            <img src="images/new_index/bottom_img03.jpg" alt="">
                        </div>
                        <h4>长按或截图保存，关注【外贸人CMS】微信公众号</h4>
                    </div>
                </div>
            </div>
            <!-- 备案 -->
            <div class="beian">
                <div class="text">Copyright © 2021 外贸人CMS All Rights Reserved. <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">
                   <br> 沪ICP备2021024265号-3</a> </div>
                <!-- <div class="text">Designed by 派流</div> -->
            </div>
        </div>
    </div>
    <!-- 登录注册 -->
    <div class="blackBackground"></div>
    <div class="loginWindow">
        <div class="close"><img src="images/close.png" alt="close"></div>
        <div class="content">
            <div class="title">微信扫码登录/注册<span></span></div>
            <div class="wechat">
                <img src="images/publicWechat.png" alt="">
            </div>
            <div class="tips">
                扫码关注"外贸人CMS"公众号进行登录
            </div>
        </div>
        <div class="bottom">
            登录即同意<a href="javascript:;">用户协议</a>和<a href="javascript:">隐私政策</a>
        </div>
    </div>
    <!-- 绑定手机弹窗 -->
    <div class="BindingPhone_outer">
        <div class="BindingPhone">
            <div class="close"><img src="images/close.png" alt="close"></div>
            <div class="BindingPhone_title">
                <h3>绑定手机号</h3>
            </div>
            <div class="BindingPhone_form">
                <h4>为保障外贸人CMS账号的正常使用，请尽快完成手机号验证，感谢您的理解和支持!</h4>
                <div class="BindingPhone_form_in">
                    <div class="BindingPhone_form_input">
                        <input type="text" name="" id="">
                    </div>

                    <div class="BindingPhone_form_input BindingPhone_form_code">
                        <input type="text" name="" id="">
                        <button>获取验证码</button>
                    </div>
                </div>
                <div class="BindingPhone_Submit">
                    <button>确定</button>
                </div>
            </div>
            <div class="BindingPhone_agreement">
                <input type="checkbox" checked="checked"/>
                <span>登录即同意&nbsp;<a href="">用户协议</a>&nbsp;和&nbsp;<a href="">隐私协议</a></span>
            </div>
        </div>
    </div>
    <!-- 授权信息 -->
    <div class="userBookWindow">
        <div class="bookWindow">
            <div class="close"><img src="images/close.png" alt="close"></div>
            <div class="info">
                <div class="url">www..com</div>
                <div class="list">
                    <p><span>授权累积</span>118天</p>
                    <p><span>有限期限</span>2021-10-20 至 2022-10-19</p>
                    <p><span>授权企业</span> </p>
                    <p><span>授权编号</span> </p>
                </div>
            </div>
            <!-- <div class="number">2021102014250238503</div> -->

        </div>

    </div>
    <!-- 未授权 -->
    <div class="userCertificateWindow">
        <div class="close"><img src="images/close.png" alt=""></div>
        <div class="img">
            <img src="images/user/userIco.png">
        </div>
        <div class="title">尚未授权</div>
        <div class="tips">该域名尚未在官网申请授权</div>
        <!-- <a href="javascript:;" class="btn">立即查看</a> -->
    </div>
    <script>
        $('.searchSub').click(function(){
            // 判断显示 授权成功还是失败
            $('.blackBackground').fadeIn();
            // 成功
            // $('.userBookWindow').fadeIn()
            // 失败
            $('.userCertificateWindow').fadeIn()
        });
        $('.header .w1200 .right .menu .login').click(function(){
            $('.blackBackground').fadeIn();
            $('.loginWindow').fadeIn()
        });
        $('.close').click(function(){
            $('.blackBackground').fadeOut();
            $('.loginWindow').fadeOut();
            $('.BindingPhone_outer').fadeOut();
            $('.userBookWindow').fadeOut();
            $('.userCertificateWindow').fadeOut()
        })
    </script>
</body>

</html>
