<!DOCTYPE html>
<html lang="{$contraller|strtolower}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/{$erdai_template}/css/index.css">
    <link rel="stylesheet" href="/view/{$erdai_template}/css/small.css">
    <!-- 多样化的功能扩展和绑定手机弹窗 -->
    <link rel="stylesheet" href="/view/{$erdai_template}/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/view/{$erdai_template}/css/BindingPhone.css">
    <link rel="stylesheet" href="/view/{$erdai_template}/css/public.css">
    <script src="/view/{$erdai_template}/js/swiper-bundle.min.js"></script>
    <script src="/view/{$erdai_template}/js/jquery-1.11.3.min.js"></script>
    <title>{$config.title}</title>
    <meta name="keywords" content="{$config.keyword}" />
    <meta name="description" content="{$config.description}" />
</head>
<body>
{include file="view/$erdai_template/public/header.html" /}
    <div class="indexBanner">
        <div class="w1200">
            <div class="indexBanner_title">
                <!-- <img src="images/new_index/indexBanner_title.png" alt=""> -->
                <h3>
                    <span>外贸人CMS 1.0</span>&nbsp;隆重发布
                    <img src="/view/{$erdai_template}/images/new_index/New.png" alt="">
                </h3>
                <p>专业·轻便的外贸建站系统</p>
            </div>

            <div class="menu">
                <a href="http://waimao.admin.erdaicms.com/admin/" class="demonst" target="_blank"><i>&#xe636;</i>查看演示</a>
                <a href="/zh/page/id8.html" class="calendar"  target="_blank"><i>&#xe60c;</i>更新日志</a>
                <a href="https://gitee.com/lvzan/foreign-trade-cms" class="download"  target="_blank"><i>&#xec1d;</i>免费下载</a>
            </div>

            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/view/{$erdai_template}/images/new_index/banner_img01.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/view/{$erdai_template}/images/new_index/banner_img01.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/view/{$erdai_template}/images/new_index/banner_img01.png" alt="">
                    </div>
                </div>

                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev">
                    <img src="/view/{$erdai_template}/images/new_index/left.jpg" alt="">
                </div>
                <div class="swiper-button-next">
                    <img src="/view/{$erdai_template}/images/new_index/right.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="indexBlock">
        <div class="indexTitle">
            <p>外贸CMS 核心优势</p>
            <div class="tips">做外贸官网当然要选一套专业好用的CMS</div>
        </div>
        <div class="w1200">
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico01.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_9_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_9_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico01.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_1_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_1_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico02.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_2_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_2_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico03.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_3_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_3_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico04.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_4_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_4_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico05.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_5_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_5_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico06.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_6_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_6_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico01.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_7_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_7_content',$contraller)}</div>
            </div>
            <div class="list">
                <div class="img"><img src="/view/{$erdai_template}/images/new_index/Advantage_ico02.png" alt=""></div>
                <div class="title">{:mylang('index.advantage_8_title',$contraller)}</div>
                <div class="tips">{:mylang('index.advantage_8_content',$contraller)}</div>
            </div>
        </div>
    </div>

    <div class="indexBlock3">
        <div class="indexTitle">
            <p>最新动态</p>
            <div class="tips">在这里了解外贸人CMS的动态</div>
        </div>
        <div class="w1200 clear">
            <div class="newList">
                <div class="title clear">
                    <a href="javascript:">
                        <img src="/view/{$erdai_template}/images/new_index/new01.jpg" alt="">
                    </a>
                    <p class="title_text">新闻资讯</p>
                </div>
                <ul>
                    <?php
                    foreach($news_list as $n)
                    {
                    ?>
                    <li><a href="<?php echo news_url($n['id'],$n['lang']);?>"><span></span><b>{$n.title}</b><i>{$n.time|gettime}</i></a></li>
                    <?php
                    }
                    ?>


                </ul>
            </div>
            <div class="questionList">
                <div class="title clear">
                    <a href="javascript:">
                        <img src="/view/{$erdai_template}/images/new_index/new02.jpg" alt="">
                    </a>
                    <p class="title_text">成功案列</p>
                </div>
                <ul>
                    <?php
                foreach($case_list as $l)
                {
                ?>
                    <li><a href="<?php echo case_url($l['id'],$l['lang']);?>"><span></span><b>{$l.title}</b><i>{$n.time|gettime}</i></a></li>
                    <?php
                    }
                    ?>
                </ul>
            </div>
        </div>
    </div>



{include file="view/$erdai_template/public/footer.html" /}

    <!-- 登录注册 -->
    <div class="blackBackground"></div>
    <div class="loginWindow">
        <div class="close"><img src="/view/{$erdai_template}/images/close.png" alt="close"></div>
        <div class="content">
            <div class="title">微信扫码登录/注册<span></span></div>
            <div class="wechat">
                <img src="/view/{$erdai_template}/images/publicWechat.png" alt="">
            </div>
            <div class="tips">
                扫码关注"外贸人CMS"公众号进行登录
            </div>
        </div>
        <div class="bottom">
            登录即同意<a href="javascript:">用户协议</a>和<a href="javascript:;">隐私政策</a>
        </div>
    </div>

    <!-- 绑定手机弹窗 -->
    <div class="BindingPhone_outer">
        <div class="BindingPhone">
            <div class="close"><img src="/view/{$erdai_template}/images/close.png" alt="close"></div>
            <div class="BindingPhone_title">
                <h3>绑定手机号</h3>
            </div>
            <div class="BindingPhone_form">
                <h4>为保障外贸人CMS账号的正常使用，请尽快完成手机号验证，感谢您的理解和支持!</h4>
                <div class="BindingPhone_form_in">
                    <div class="BindingPhone_form_input">
                        <input type="text" name="" id="">
                    </div>

                    <div class="BindingPhone_form_input BindingPhone_form_code">
                        <input type="text" name="" id="">
                        <button>获取验证码</button>
                    </div>
                </div>
                <div class="BindingPhone_Submit">
                    <button>确定</button>
                </div>
            </div>
            <div class="BindingPhone_agreement">
                <input type="checkbox" checked="checked"/>
                <span>登录即同意&nbsp;<a href="">用户协议</a>&nbsp;和&nbsp;<a href="">隐私协议</a></span>
            </div>
        </div>
    </div>

    <script>
        // 汉堡导航
		$('.hambur').click(function () {
		    $('.hambur').toggleClass('open');
			$('.hammenu').toggleClass('open')
		});
        // 顶部 position
        $('.header').addClass('position');
        // 下拉导航
        // $('.header .w1200 .right .nav li').hover(function(){
        //     $(this).children('.list').stop().fadeIn()
        // },function(){
        //     $(this).children('.list').stop().fadeOut()
        // })
        // 登录弹窗
        $('.header .w1200 .right .menu .login').click(function(){
            $('.blackBackground').fadeIn();
            $('.loginWindow').fadeIn()
        });
        $('.close').click(function(){
            $('.blackBackground').fadeOut();
            $('.loginWindow').fadeOut();
            $('.BindingPhone_outer').fadeOut()
        });
        // 个人信息下拉框
        $('.loggedIn').hover(function(){
            $(this).children('.content').children('.list').stop().fadeIn()
        },function(){
            $(this).children('.content').children('.list').stop().fadeOut()
        });
        // 判断登录状态,存缓存
        let thisState = '已登录';

        // 轮播图
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal', // 垂直切换选项
            speed: 500,
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })

        // 多样化的功能扩展
        // var mySwiper = new Swiper ('.swiper-container', {
        //     direction: 'horizontal', // 垂直切换选项
        //     observer: true,
        //     // 如果需要分页器
        //     pagination: {
		// 	    el: '.swiper-pagination',
		//     	clickable: true,
		// 	    renderBullet: function (index, className) {
        //             var text = ['系统','网站','询盘','营销','招聘'];
		// 	        return '<div class="' + className + '"><image src="images/swipericon/index' + ( index  + 1 ) + '.png"><p>'+ text[index] +'</p></div>';
		//     	},
        //     },
        // })
    </script>
</body>
</html>
